body{
    background-color:hsl(180, 100%, 97%);
    position: relative;
}
.nightbg{
    background-color:hsl(180, 83%, 28%);
    color: rgb(221, 224, 228);
}
h1{
    font-family: 'Ubuntu', sans-serif;
}
h2{
    font-family: 'Roboto Mono', monospace;
}
li, p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:2.5rem;
}
.link{
    color: blanchedalmond;
}
header{
    width:70%;
    margin: auto;
    display:flex;
    align-items:center;
    justify-content:space-around
}

table{
    font-size:2rem;
}
.first{
    border-radius: 50%;
    width: 15%;
    height: auto;
}
main{
    width: 70%;
    margin:100px auto;

}
.mcer{
    margin: 50px 0;
}

td{
    border: 1px black dashed;
    padding:20px;
}

form>div{
    margin:20px;
}
.img2{
    width: 70%;
    height: 300px;
    border-radius: 50%;
}
.img2:hover{
    border:10px rgb(237, 132, 100) solid;
}

.student{
    background:rgb(133, 197, 133) ;
    position: sticky;
    top: 0;
    width: 80%;
    margin: auto;
    

    
}